<ul class="aside">         		
    <li>
        <h4>Admin management</h4>        
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/manager" target="rightMain">Admin list</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/manager/add" target="rightMain">Add admin</a></li>
        </ul>
    </li>

    <li>
        <h4>Carousel chart management</h4>
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/focus" target="rightMain">Carousel chart list</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/focus/add" target="rightMain">Add carousel chart</a></li>
        </ul>
    </li>
    <li>
        <h4>Content management</h4>        
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/articleCate" target="rightMain">Classification management</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/article" target="rightMain">Content management</a></li>
        </ul>
    </li>
    <li>
        <h4>System settings</h4>
        <ul>
            <li  class="list-group-item"> <a href="/<%=adminPath%>/nav" target="rightMain">Navigation management</a></li>
            
            <li class="list-group-item"> <a href="/<%=adminPath%>/setting" target="rightMain">Site settings</a></li>
        </ul>
    </li>
</ul>		