<%- include("./public/page_header.html")%>

	<body id="ios">

		<%- include("./public/page_nav.html")%>
		<div id="fh5co-press" data-section="press">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="single-animate animate-press-1">High quality housing information</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2"><img src="/default/images/zhi.png">
							</div>
						</div>
					</div>
				</div>
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">1</i>Greenland City</h3>
								<p align="justify"><strong>The latest building located in Xueyuan Road Street, Haidian District, Beijing is about to be completed.</strong></p>

								<p align="justify">
									The latest building, called "Greenland city", covers an area of about 40000 square meters, with a public swimming pool and gym. The average price is about 20000 yuan per square meter.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/14.jpg">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-pricing">
			<div class="container">
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">2</i>Coffee town</h3>
								<p align="justify">
									Located in the west of Jiulong Avenue and beside Fenghuang lake, with a total building area of nearly 330000 square meters, it is a key project in the South starting area of knowledge city, with a beautiful plot environment.
								</p>

								<p align="justify">
									This is the first lake view market that has been brewing for a long time. The overall construction area is nearly 400000 square meters. The main products are Lake View Villas and high-rise buildings. Coffee town is located on the Bank of Fenghuang lake, the core of Zhongxin knowledge city, a hot plate in the east of Guangzhou, with water landscape resources with the same color of lake and sky.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/ykombx.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-our-services">
			<div class="container">
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">3</i>Latest real estate</h3>
								<table class="table table-hover">
									<tr>
										<td rowspan="4"><strong>Property list：</strong></td>
										<td>Tianmao Lake</td>
									</tr>
									<tr>

										<td>Coffee town</td>
									</tr>
									<tr>

										<td>Lishui Bay</td>
									</tr>
									<tr>

										<td>Greenland City</td>
									</tr>
									<tr>
										<td rowspan="4" valign="middle"><strong>Communal facilities：</strong></td>
										<td>Natatorium</td>
									</tr>

									<tr>

										<td>Fitness Room</td>
									</tr>
									<tr>

										<td>Man-made lake</td>
									</tr>
									<tr>
										<td>Stadium</td>

									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/bywmzq.jpg">

						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-features">
			<div class="container">
				<div class="row set">
					<div class="col-md-7 text">
						<div class="to-animate">
							<div class="fh5co-press-text">
								<h3 class="h2 fh5co-press-title"><i class="id">4</i>Viewing schedule</h3>

								<table class="table table-hover">
									<tr>
										<th colspan="2" scope="col"><strong>Time for sale or visit of major buildings</strong></th>

									</tr>
									<tr>
										<td>Real estate on sale</td>
										<td>Sep.26th-Sep.27th</td>
									</tr>
									<tr>
										<td>Pre sale</td>
										<td>Sep.20th-Sep.25th</td>
									</tr>
									<tr>
										<td>Public visit day</td>
										<td>Oct.1st-Oct.5th</td>
									</tr>
									<tr>
										<td>House handover</td>
										<td>Jan.28th-Jan.30th</td>
									</tr>
								</table>

							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="to-animate">
							<img src="/default/images/rpb5bx.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>
		<%- include("./public/page_footer.html")%>
	<script type="text/javascript" src="/default/js/jquery.min.js"></script>
		<script type="text/javascript" src="/default/js/bootstrap.min.js"></script>
	</body>

</html>